<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="FezHatApp.FezHatApp" 
          android:versionCode="1" 
          android:versionName="1.0">
  <uses-sdk android:minSdkVersion="21" />
  <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
  <uses-permission android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS" />
  <application android:allowBackup="true" android:label="@string/app_name">
    <uses-library android:name="com.google.android.things" />
  </application>
</manifest>